{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }}">
  {{ partial "sidebar.html" . }}
    <div class="content container">
    {{ block "main" . -}}{{- end }}
    </div>

    <!--{{ template "_internal/google_analytics_async.html" . }}-->
  </body>
</html>
