{{ define "main" -}}
<div class="post">
  <img src="{{ .Params.Image | relURL }}" align="left" style="width: 33%; margin: 50px; padding: 0px;" />
  <h1>{{ .Title }}</h1>
  <span class="post-date"><a href="{{ print "authors/" .Params.authors | lower | relURL }}">{{ replace .Params.authors "-" " " }}</a></span>
  {{ .Content }}
</div>

<h2>All Editions</h2>
{{ range where (where .Site.RegularPages "Params.authors" .Params.authors) "Params.title" .Title -}}
  <span><a href="{{ .Permalink }}"><img src="{{ .Params.Image | relURL }}" align="left" style="width: 20%; margin: 10px;" /></a> </span>
{{- end }}

{{- end }}
