{{ define "main" -}}
<h2>Latest Entries</h2>
{{ range first 4 .Data.Pages -}}
  <a href="{{ .Permalink }}"><img src="{{ .Params.Image | relURL }}" align="left" style="width: 20%; margin: 10px;" /></a>
{{- end }}
{{- end }}
