{{ define "main" -}}
<h1>{{ .Title }}</h2>
{{ range .Data.Pages -}}
    <span><a href="{{ .Permalink }}"><img src="{{ .Params.Image | relURL }}" align="left" style="width: 20%; margin: 10px;" /></a> </span>
{{- end }}
{{- end }}
