{{ define "main" -}}
<h1>Authors</h1>
<ul class="posts">
{{ range $value := .Data.Pages.ByParam "author" -}}
  <li>
    <span><a href="{{ .Permalink }}">{{ $value.Title }}</a> </span>
  </li>
{{- end }}
</ul>
{{- end }}
